extends ./header
block content
  form
    div.form-group
      label(for="emailInput") Email Address
      input.form-control(id="emailInput" type="email")
    div.form-group
      label(for="passwordInput") Password
      input.form-control(id="passwordInput" type="password")
    div.form-group
      label(for="confirmInput") Confirm Password
      input.form-control(id="confirmInput" type="password")
    button.btn.btn-primary(type="Submit") Submit