.toolbar {
  display: inline-block;
  transition: all .2s ease-in-out;
  margin: 2rem;
}

.toolbar:hover {
  transform: scale(1.25);
}

.toolbar.active {
  transform: scale(1.25);
  color: #009dffad;
}

.container {
  text-align: center;
  height: auto;
}

.container.paid {
  height: 36rem;
}

.jumbotron {
  background-color: #d3d3d354;
  width: 100%;
  display: inline-block;
}

.img-tag {
  height: 200px;
  width: 200px;
}

.card {
  margin: 1rem auto;
}

.card-header {
  padding: 0 1.25rem;
}

.card-header > h5 {
  margin-bottom: 0;
}

.form-control {
  margin: 1rem 0;
}